@include component(horizontal-accordion) {
  width: 100%;
  height: 420px;
  display: table;
  table-layout: fixed;

  @include part(slide) {
    @include transition(width, ease);
    height: 100%;
    display: table-cell;
    position: relative;
    background-size: cover;
    background-position: center;
  }
}